ul,li,h1,h2,h3,h4,h5,h6,pre,form,body,html,p,input{
    margin:0; padding:0;
}

#wrapper{
    width:1300px;
    margin:30px auto;
}

#header{
    width: 1300px;
    float: left;
    margin: 0 0 1em 0;
    padding: 0;
    background-color: #003333;
    opacity: 1.0;
    font-size: 16px;
    height:40px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    -moz-box-shadow: 3px 3px 3px #003333;
    -webkit-box-shadow: 3px 3px 3px #003333;
    box-shadow: 3px 3px 4px #003333;   
}

#header #element{
    float: left;
    display: inline;
}

#heading a{
    font-size: 25px;
    text-decoration: none;
    font-weight: bold;
    color: gold;
    margin-left: 1em;
}

#heading{
    margin-top: 0.4em;
    width: 180px;
}

#element .nav{
    width: 600px;
    padding-left: 2em;
    padding-top: 0.6em;
}

#element .nav ul {
    list-style: none;
    display: inline-block;
    float: left;
}

#element .nav li {
    float: left;
    list-style: none;
    padding-left: 10px;
    padding-right: 10px;
    color: gold;
    font-weight: bold;
    font-size: 18px;
}

/*#element .nav li a {
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    color: gold;
    padding-left: 5px;
    padding-right: 5px;
    margin: 5px;
}*/

#element .nav li:hover{
    background-color: #ffffff;
    color: #003f3f;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -moz-box-shadow: 3px 5px 5px #003f3f;
    -webkit-box-shadow: 3px 5px 5px #003f3f;
    box-shadow: 3px 5px 5px #003f3f;
    cursor: pointer;
}

#element .nav li:active{
    background-color: #daa520;
}
#searchtag{
    margin-top: 12px;
    margin-bottom: 8px;
    font-size: 14px;
    color: white;
    margin-left: 8em;
    margin-top: 14px;
}

#element .searchspace{
    display: inline-block;
    float: left;
    width: 130px;
}

#locationsearch form input {
    width:126px;
    height:20px;
    margin-top:10px;
    border:none;
    color:black;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;   
    background-image: url("images/magnifier.png");
    background-repeat: no-repeat;
    background-color:#ffffff;
}

#locationsearch form input:focus{
    width: 210px;
}

#locationsearch form input{
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
}
ul,li,h1,h2,h3,h4,h5,h6,pre,form,body,html,p,input{
    margin:0; padding:0;
}

#wrapper{
    width:1300px;
    margin:30px auto;
}

#header{
    width: 1300px;
    float: left;
    margin: 0 0 1em 0;
    padding: 0;
    background-color: #003333;
    opacity: 1.0;
    font-size: 16px;
    height:40px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    -moz-box-shadow: 3px 3px 3px #003333;
    -webkit-box-shadow: 3px 3px 3px #003333;
    box-shadow: 3px 3px 4px #003333;   
}

#header #element{
    float: left;
    display: inline;
}

#heading a{
    font-size: 25px;
    text-decoration: none;
    font-weight: bold;
    color: gold;
    margin-left: 1em;
}

#heading{
    margin-top: 0.4em;
    width: 180px;
}

#element .nav{
    width: 600px;
    padding-left: 2em;
    padding-top: 0.6em;
}

#element .nav ul {
    list-style: none;
    display: inline-block;
    float: left;
}

#element .nav li {
    float: left;
    list-style: none;
    padding-left: 10px;
    padding-right: 10px;
    color: gold;
    font-weight: bold;
    font-size: 18px;
}

/*#element .nav li a {
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    color: gold;
    padding-left: 5px;
    padding-right: 5px;
    margin: 5px;
}*/

#element .nav li:hover{
    background-color: #ffffff;
    color: #003f3f;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -moz-box-shadow: 3px 5px 5px #003f3f;
    -webkit-box-shadow: 3px 5px 5px #003f3f;
    box-shadow: 3px 5px 5px #003f3f;
    cursor: pointer;
}

#element .nav li:active{
    background-color: #daa520;
}
#searchtag{
    margin-top: 12px;
    margin-bottom: 8px;
    font-size: 14px;
    color: white;
    margin-left: 8em;
    margin-top: 14px;
}

#element .searchspace{
    display: inline-block;
    float: left;
    width: 130px;
}

#locationsearch form input {
    width:126px;
    height:20px;
    margin-top:10px;
    border:none;
    color:black;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;   
    background-image: url("images/magnifier.png");
    background-repeat: no-repeat;
    background-color:#ffffff;
    text-indent: 1.5em; 
}

#locationsearch form input:focus{
    width: 210px;
}

#locationsearch form input{
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
}

#container{
    width: 1300px;
    overflow: hidden;
    height: 700px;
    background-image: url(images/bg.png);
}

#columnwrapper{
    width: 1300px;
    height: 700px;
    display: inline-block;
}

#leftcolumn{
    width: 630px;
    height: 700px;
    float: left;
    display: inline-block;
}

#forumtalk{
    background-color: #ffffff;
    height: 400px;
    width: 100%;
    margin: 10px;
    border-style: solid;
    border-width: thin;
    border-color: #003f3f;
}

#forumbar{
    border-style: ridge;
    width: 90%;
    height: 30px;
    margin-left: 5%;
    background-color: #eeeeee;
}

#forumbar #forumbarspace{
    margin-top: 4px;
    display: inline-block;
    float: left;
    padding-right: 2em;;
}

.topics{
    margin-right: 5em;
    margin-left: 1em;
    
}

.searcher{
    margin-right: -2em;
}

.searchform{
    margin-right: -2em;
}

.search{
    margin-right: -1em;
}

#starttopic{
    width: 80px;
    height: 20px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin-left: 1em;
    border-bottom-style: 7px groove;
}

h5{
    margin-left: 3px;
    margin-top: 3px;
    color: #003f3f;
    font-size: 14px;
    font-weight: bold;
}

#refiner{
    background-color: #ffffff;
    height: 100px;
    width: 100%;
    margin: 10px;
    border-style: solid;
    border-width: thin;
    border-color: #003f3f;
}

#refinerspace{
    display: inline-block;
    float: left;
    padding: 5px;
    padding-right: 20px;
}

#mediatalk{
    background-color: #ffffff;
    height: 160px;
    width: 100%;
    margin: 10px;
    border-style: solid;
    border-width: thin;
    border-color: #003f3f;
}

#rightcolumn{
    width: 640px;
    height: 680px;
    background-color: #ffffff;
    float: right;
    margin: 10px;
    border-style: solid;
    border-width: thin;
    border-color: #003f3f;
}

span{
    margin-left: 5px;
    color: #003333;
    font-weight: bold;
    margin-top: 5px;
    padding-bottom: 2px;
}

footer{
    margin-top: 10px;
    background-color: #003333;
    overflow: hidden;
    height: 80px;
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;
    -moz-box-shadow: 3px 3px 3px #003333;
    -webkit-box-shadow: 3px 3px 3px #003333;
    box-shadow: 3px 3px 4px #003333;
}

footer #leftsubfooter{
    float: left;
}
footer #rightsubfooter{
    float: right;
}
#contactlist{
    list-style: none;  
    font-size: 14px;
    margin-left: 20px;
}

#followlist{
    list-style: none;  
    font-size: 14px;
    margin-reft: 20px;
    margin-right: 20px;
}

#contactlist li , #followlist li{
    display: inline-block;
    padding-right: 10px;
    padding-top: 10px;
    vertical-align: middle;
}
    
#contactlist li a , #followlist li a{
    text-decoration: none;
    color: gold;
}