ul,li,h1,h2,h3,h4,h5,h6,pre,form,body,html,p,input{
    margin:0; padding:0;
}

#wrapper{
    width:1300px;
    margin:30px auto;
}

#header{
    width: 1300px;
    float: left;
    margin: 0 0 1em 0;
    padding: 0;
    background-color: #003333;
    opacity: 1.0;
    font-size: 16px;
    height:40px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    -moz-box-shadow: 3px 3px 3px #003333;
    -webkit-box-shadow: 3px 3px 3px #003333;
    box-shadow: 3px 3px 4px #003333;   
}

#header #element{
    float: left;
    display: inline;
}

#heading a{
    font-size: 25px;
    text-decoration: none;
    font-weight: bold;
    color: gold;
    margin-left: 1em;
}

#heading{
    margin-top: 0.4em;
    width: 180px;
}

#element .nav{
    width: 600px;
    padding-left: 2em;
    padding-top: 0.6em;
}

#element .nav ul {
    list-style: none;
    display: inline-block;
    float: left;
}

#element .nav li {
    float: left;
    list-style: none;
    padding-left: 10px;
    padding-right: 10px;
    color: gold;
    font-weight: bold;
    font-size: 18px;
}

/*#element .nav li a {
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    color: gold;
    padding-left: 5px;
    padding-right: 5px;
    margin: 5px;
}*/

#element .nav li:hover{
    background-color: #ffffff;
    color: #003f3f;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -moz-box-shadow: 3px 5px 5px #003f3f;
    -webkit-box-shadow: 3px 5px 5px #003f3f;
    box-shadow: 3px 5px 5px #003f3f;
    cursor: pointer;
}

#element .nav li:active{
    background-color: #daa520;
}
#searchtag{
    margin-top: 12px;
    margin-bottom: 8px;
    font-size: 14px;
    color: white;
    margin-left: 8em;
    margin-top: 14px;
}

#element .searchspace{
    display: inline-block;
    float: left;
    width: 130px;
}

#locationsearch form input {
    width:126px;
    height:20px;
    margin-top:10px;
    border:none;
    color:black;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;   
    background-image: url("images/magnifier.png");
    background-repeat: no-repeat;
    background-color:#ffffff;
    text-indent: 1.5em; 
}

#locationsearch form input:focus{
    width: 210px;
}

#locationsearch form input{
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
}

#maphider{
    width: 100%;
    background-color: #003f3f;
    height: 400px;
    -webkit-box-shadow: 0px 0px 5px #111111;
    -moz-box-shadow: 0px 0px 5px #111111;
    display: none;
    border-style: inset;
}

#container{
    width: 1300px;
    overflow: hidden;
    height: 630px;
    background-image: url(images/bg.png);
    float: left;
}

.rowwrapper{
    width: 1280px;
    height: 150px;
    margin: 10px;
    display: inline-block;
    margin-top: 1em;
}

.searchcontainer{
    width: 300px;
    height: 130px;
    margin: 5px;
    float: left;
    background-color: #003333;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

#searchtext{
    padding: 5px;
    color: #ffffff;
    margin-top:0.8em;
    display: block;
    margin-left: 2em;
    font-size: 20px;
    font-weight: bold;
}

.searchcontainer form input{
    width:180px;
    height:30px;
    margin-left:2em;
    margin-top: 0.5em;
    border:none;
    color:black;
    font-size: 20px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;   
    background-image: url("images/magnifier.png");
    background-repeat: no-repeat;
    background-color:#ffffff;
    text-indent: 1em;
}

.searchcontainer form input:focus{
    width: 210px;
}

.searchcontainer form input{
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
}

.categories{
    height: 150px;
    width: 930px;
    float: right;
    margin-top: 6px;
}

.categories li{
    margin: 5px;
    border-radius: 7px;
    height: 50px;
    width: 110px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    padding:5px;
    text-align: center;
    font-family: "Lucida Grande" , Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    list-style: none;
    display: inline-block;
    float: left;
}

.categories li:nth-child(odd){
    background-color: #003333;
    color: #daa520;
}

.categories li:nth-child(even){
    background-color: #daa520;
    color: #003333;
}

.categories li:hover{
    background-color: #cccccc;
    color: #222222;
    box-shadow: 0 5px 5px #222222;
    -webkit-box-shadow: 0 5px 5px #222222;
    -moz-box-shadow: 0 5px 5px #222222;
    cursor: pointer;
}

hr{
    color: #003f3f;
    width: 95%;
    box-shadow: 0 0 2px 0 #003f3f;
}

#bodycontainer{
    height: 400px;
    width: 1200px;
    margin-top: 2em;
    margin-left: 5em;
}

.slideshowcontainer{
    height: 380px;
    width: 1020px;
    overflow: hidden;
    margin-right:-4.5em;
}

.slideshow li{
    border: 1px solid #ccc;
    background-color: #eee;
    margin: 5px;
    width: 160px;
    height: 150px;
    display: inline-block;
    float: left;
    color: #003f3f;
    text-align: center;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 20px;
    padding-top: 7px;
    transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    transition: transform 1s;
    -webkit-transition: -webkit-transform 1s;
    -moz-transition: -moz-transform 1s;
}

.slideshow li:hover{
    background-color: #003f3f;
    color: #ccc;
    box-shadow: 3px 3px 30px #003f3f;
    -webkit-box-shadow: 3px 3px 30px #003f3f;
    -moz-box-shadow: 3px 3px 30px #003f3f;
    cursor: pointer;
    transform: rotateY(20deg);
    -webkit-transform: rotateY(20deg);
    -moz-transform: rotateY(20deg);
    transition: transform 1s;
    -webkit-transition: -webkit-transform 1s;
    -moz-transition: -moz-transform 1s;
}

#bodycontainer li{
    list-style:none;
    display: inline-block;
    float: left;
    margin-left: 1em;
}

#prev{
    width:55px;
    height:370px;
    background-color: #ccc;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
}

#next{
    width:55px;
    height:370px;
    background-color: #ccc;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
}

#next img, #prev img{
    width: 55px;
    height: 55px;
    margin-top: 160px;
}

#next:hover{
    box-shadow: 3px 3px 30px #003f3f;
    -webkit-box-shadow: 3px 3px 30px #003f3f;
    -moz-box-shadow: 3px 3px 30px #003f3f;
}
 
#prev:hover{
    box-shadow: -3px 3px 30px #003f3f;
    -webkit-box-shadow: -3px 3px 30px #003f3f;
    -moz-box-shadow: -3px 3px 30px #003f3f;
}
 
#next:active , #prev:active{
    background-color: #003f3f;
}
 
footer{
    margin-top: 10px;
    background-color: #003333;
    overflow: hidden;
    height: 80px;
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;
    -moz-box-shadow: 3px 3px 3px #003333;
    -webkit-box-shadow: 3px 3px 3px #003333;
    box-shadow: 3px 3px 4px #003333;
    float: left;
    width: 1300px;
}

footer #leftsubfooter{
    float: left;
}
footer #rightsubfooter{
    float: right;
}
#contactlist{
    list-style: none;  
    font-size: 14px;
    margin-left: 20px;
}

#followlist{
    list-style: none;  
    font-size: 14px;
    margin-reft: 20px;
    margin-right: 20px;
}

#contactlist li , #followlist li{
    display: inline-block;
    padding-right: 10px;
    padding-top: 10px;
    vertical-align: middle;
}
    
#contactlist li a , #followlist li a{
    text-decoration: none;
    color: gold;
}