ul,li,h1,h2,h3,h4,h5,h6,pre,form,body,html,p,input{
    margin:0; padding:0;
}

body{
    /*background-color: #d7dfe2;*/
    background-color: #edf0f5;
}

#wrapper{
    width:1200px;
    margin: auto;
}

#header{
    width: 1200px;
    float: left;
    margin: 0 0 1em 0;
    padding: 0;
    background-color: #2d2d2d;
    opacity: 1.0;
    font-size: 16px;
    height:40px;
    position: fixed;
    z-index: 101;
}

#header #element{
    float: left;
    display: inline-block;
}

#heading a{
    font-size: 25px;
    text-decoration: none;
    font-weight: bold;
    color: #ffffff;
    margin-left: 1em;
}

#heading{
    margin-top: 0.4em;
    width: 180px;
}

#element .nav{
    width: 700px;
    margin-left: 2%;
    padding-top: 0.6em;
}

#element .nav ul {
    list-style: none;
    display: inline-block;
    float: left;
}

#element .nav li {
    float: left;
    list-style: none;
    padding-left: 10px;
    padding-right: 10px;
    color: #ffffff;
    font-weight: bold;
    font-size: 18px;
    font-family: "Trebuchet MS" Arial serif;
}

#element .nav li:hover{
    background-color: #ffffff;
    color: #003f3f;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -moz-box-shadow: 3px 5px 5px #003f3f;
    -webkit-box-shadow: 3px 5px 5px #003f3f;
    box-shadow: 3px 5px 5px #003f3f;
    cursor: pointer;
}

#searchtag{
    margin-top: 1em;
    font-size: 13px;
    color: #ffffff;
    font-weight: bold;
    margin-left: 20px;
    width: 150px;
    font-family: "Trebuchet MS" Arial serif;
}

.locationsearchdiv{
    float: right;
}

#locationimg{
    width: 30px;
    height: 30px;
    margin-top: 7px;
}

#element .searchspace{
    display: inline-block;
    float: left;
}

#locationsearch form input {
    width:156px;
    height:20px;
    margin-top:3px;
    border:none;
    color:black;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;   
    background-image: url("images/magnifier.png");
    background-repeat: no-repeat;
    background-color:#ffffff;
    text-indent: 1.5em;
    margin-left: 1em;
    margin-bottom: 5px;
}

#locationsearch form input:focus{
    width: 210px;
}

#locationsearch form input{
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
}

#maphider{
    width: 700px;
    background-color: #2d2d2d;
    left: 20%;
    top: 10px;
    margin: auto;
    position: absolute;
    height: 550px;
    display: none;
    -moz-border-radius: 10px;
    -webkit-border-radius:10px;
    -moz-box-shadow: 0 5px 5px #d7dfe2;
    -webkit-box-shadow: 0 5px 5px #d7dfe2;
    z-index:901;
    border: 10px #d7dfe2;
}
    #mapheading{
        width: 100%;
        height: 30px;
        background-color: inherit;
    }
    #mapmsg{
        font-size: 20px;
        color: #ffffff;
        text-align: center;
    }

#locationtext{
    color: #ffffff;
    margin-left: 1em;
}

a.mapboxclose{
    float:right;
    width:25px;
    height:25px;
    background:transparent url(images/cancel.png) repeat top left;
    margin-top:0px;
    margin-right:7px;
    cursor: pointer;
}

#someframe{
    margin-left: 1px;
    margin-top: 3px;
    border-style: none;
    border-bottom-style: groove;
}

#sidebar{
    display: block;
    float: left;
    margin: 0 0 1em 0;
    padding: 0;
    background-color: #2d2d2d;
    opacity: 1.0;
    font-size: 16px;
    position: fixed;
    z-index: 101;
    margin-bottom: 10px;
    width: 80px;
    text-align: center;
}

    #sidebar ul{
        list-style: none;  
        font-size: 14px;
	padding-top: 50px;
    }
	#sidebar ul li {  
            display: inline-block;
            padding-bottom: 20px;
        }
	    #sidebar ul li a {  
	        display: inline-block;  
	        float: left;
		padding-bottom: 20px;
	        text-decoration: none;  
	    }
		.sidebarimgdiv{
		    width: 55px;
		    height: 55px;
		}
		
		#vsearcher{
		    background-image: url(images/vsearch.png);
		}
		    #vsearcher:hover{
			background-image: url(images/vsearchcolor.png);
		    }
		
		#buzzer{
		    background-image: url(images/buzz.png);
		}
		    #buzzer:hover{
			background-image: url(images/buzzcolor.png);
		    }
		
		#solver{
		    background-image: url(images/solutions.png);
		}
		    #solver:hover{
			background-image: url(images/solutionscolor.png);
		    }
		
		#trender{
		    background-image: url(images/trends.png);
		}
		    #trender:hover{
			background-image: url(images/trendscolor.png);
		    }
		
		#reporter{
		    background-image: url(images/report.png);
		}
		    #reporter:hover{
			background-image: url(images/reportcolor.png);
		    }
		
		
		
#trendbar{
    display: block;
    float: right;
    margin: 0 0 1em 0;
    background-color: #2d2d2d;
    opacity: 1.0;
    position: fixed;
    z-index: 101;
    margin-bottom: 10px;
    width: 300px;
    text-align: center;
    margin-left: 900px;
}

    #trendheading{
	color: #ffffff;
	font-size: 16px;
	text-align: center;
	margin-top: 60px;
	font-weight: bold;
	font-family: "Trebuchet MS" Arial serif;
    }
    #trendbarholder{
	width: 95%;
	height: 70%;
	margin-left: 10px;
	margin-top: 20px;
	overflow-x: hidden;
	overflow-y: scroll;
    }
	#trendset{
	    width: 100%;
	    height: auto;
	}
	
	#trendset a{
	    text-decoration: none;
	    cursor: pointer;
	}
	    .trendimage{
		width: 50px;
		height: 50px;
		padding: 2px;
		border-radius: 5px;
		border: 2px groove #ffffff;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
	    }
		.trendtext{
		    color: #ffffff;
		    font-size: 15px;
		    font-family: "Trebuchet MS" Arial serif;
		    width: 100%;
		    height: auto;
		    text-align: left;
		    font-weight: bold;
		}

#container{
    width: 1200px;
    height: 100%;
    background-color: #ffffff;
    float: left;
    -webkit-margin-top: 1em;
    margin-top: 40px;
}

.tutu{
    height: 95%;
}

#columnwrapper{
    width: 820px;
    margin-left: 80px;
    display: block;
    position: absolute;
    background-color: #ffffff;
}

#grievancereporter{
    width: 500px;
    background-color: #d7dfe2;
    left: 30%;
    top: 120px;
    position: absolute;
    margin: 5px;
    height: auto;
    -webkit-box-shadow: 0px 0px 5px #003f3f;
    -moz-box-shadow: 0px 0px 5px #003f3f;
    display: none;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius:10px;
    -khtml-border-radius:10px;
    -moz-box-shadow: 0 1px 5px #333;
    -webkit-box-shadow: 0 1px 5px #333;
    z-index:501;
}

    a.greportclose{
	float:right;
	width:25px;
	height:25px;
	background:transparent url(images/cancel.png) repeat top left;
	margin-top: 5px;
	margin-right: 5px;
	cursor: pointer;
    }
    
    #reportheading{
	text-align: center;
	color: #003f3f;
	font-weight: bold;
	font-size: 18px;
	margin-top: 25px;
	text-transform: uppercase;
	font-family: "Trebuchet MS" Arial serif;
    }

#vsearchcolumn{
    width: 100%;
    height: 100%;
    float: left;
    display: block;
    margin: auto;
    position: relative;
}

#forumtalk{
    background-color: #ffffff;
    height: 100%;
    width: 100%;
    margin: 10px;
    border-width: thin;
    border-color: #003f3f;
    text-align: center;
}

#expander{
    float:right;
    width:auto;
    height:auto;
    margin-right: -40px;
    margin-top: 20px;
    cursor: pointer;
    z-index: 101;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

#closer{
    float:right;
    width:auto;
    height:auto;
    margin-right: -30px;
    margin-top: 300px;
    cursor: pointer;
    z-index: 101;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    display: none;
}

#forumbar{
    border: solid thin #003f3f;
    width: 95%;
    height: 30px;
    margin-left: 2%;
    background-color: #edf0f5;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}

    .forumbarspace{
	margin-top: 4px;
	display: inline-block;
	padding-right:2%;
	float: left;
    }

	#search{
	    margin-left: 1%;
	    float: left;
	}

	#searchform{
	    float: left;
	}

	    #searchform input{
		margin-left: 1%;
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		text-indent: 5px;
	    }

	#refineform{
	    width: auto;
	}
	
	    .refineblock{
		display: inline-block;
		float: left;
	    }
	
	    #queryList{
		width: 160px;
		margin-right: 5px;
	    }
	    
	    #refinesubmit{
		width: auto;
		margin-top: 2px;
		border-radius: 5px;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		text-align: center;
		width: 100px;
		border: 2px inset #cccccc; 
	    }

h5{
    margin-left: 3px;
    margin-top: 3px;
    color: #003f3f;
    font-size: 14px;
    font-weight: bold;
}

#vresults{
    margin-top: 20px;
    margin-left: 1em;
    width: 97%;
    height: 85%;
    overflow-x: hidden;
    overflow-y: scroll;
    font-family: "Trebuchet MS" Arial serif;
}

.vscaption{
    color: #2ba6cb;
    display: block;
    font-weight: normal;
    font-size: 15px;
    text-align: justify;
    font-family: "Trebuchet MS" Arial serif;
}

.vsurl{
    color: #003f3f;
    display: block;
    font-size: 13px;
    font-family: "Trebuchet MS" Arial serif;
    text-align: justify;
    font-weight: lighter;
}

.vsdescription{
    color: #003f3f;
    display: block;
    font-size: 14px;
    text-align: justify;
    font-family: "Trebuchet MS" Arial serif;
    width: 98%;
    font-weight: normal;
}

#overlay{
    background:transparent url(images/overlay.png) repeat top left;
    position:fixed;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    z-index:401;
    width: 100%;
    height: 100%;
}

#refiner{
    position: fixed;
    top:200px;
    left:25%;
    right:30%;
    background-color: #ffffff;
    height: 100px;
    width: 630px;
    margin: 10px;
    border-width: thin;
    border-color: #003f3f;
    display: none;
    border:2px solid #ccc;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius:10px;
    -khtml-border-radius:10px;
    -moz-box-shadow: 0 1px 5px #333;
    -webkit-box-shadow: 0 1px 5px #333;
    z-index:601;
}

#refinerspace{
    display: inline-block;
    float: left;
    padding: 5px;
    padding-right: 15px;
}

a.boxclose{
    float:right;
    width:25px;
    height:25px;
    background:transparent url(images/cancel.png) repeat top left;
    margin-top:-10px;
    margin-right:-10px;
    cursor: pointer;
}

#mediatalk{
    background-color: #ffffff;
    height: 120px;
    width: 100%;
    margin: 10px;
    border-width: thin;
    border-color: #003f3f;
    text-align: center;
}

#solutioncolumn{
    width: 98.5%;
    height: 100%;
    background-color: #ffffff;
    margin: 10px;
    border-width: thin;
    border-color: #2ba6cb;
    float: left;
    display: inline-block;
    margin: auto;
    position: relative;
    display: none;
}

#tabheader{
    background-color: #ffffff;
    margin-top: 20px;
    margin-left: 5px;
    width: 100%;
    height: 94%;
    border: solid thin #cccccc;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

#tabheader ul{
    list-style: none;
    margin: 1em;
    margin-left: 40%;
    margin-top: -0.7em;
}

#tabheader #tabs li{
    display: inline-block;
    border: outset;
    border-bottom-width: 1px 1px 0 1px;
    margin: 0 0.5em 0 0;
    background-color: #edf0f5;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

#tabs li a{
    padding: 0 0.5em;
    color: #003333;
    font-weight: bold;
    text-decoration: none;
}

#tabs li a:hover{
    background-color: #003f3f;
    color: #ffffff;
}

#tabs li a.active{
    background-color: #ffffff;
    color: #003f3f;
    border: 1px ridge #464c54;
    border-bottom: 1px solid #ffffff;
}

.content{
    background-color: #ffffff;
    padding: 10px;
    margin: 5px;
    width: 97%;
    height: 90%;
}

#content2{ 
    display: none;
}

#content2{
    overflow-x: hidden;
    overflow-y: scroll; 
}

#talkspace{
    width: 99%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}

#solutionspace{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}

    #contactheading{
	text-align: justify;
	margin: 10px;
	margin-bottom: 5px;
        color: green;
	font-weight: bold;
	font-size: 16px;
	text-transform: uppercase;
	font-family: "Trebuchet MS" Arial serif;
    }
    
.contactspace{
    display: inline-block;
    width: 49%;
    height: 100%;
}

    #error{
	font-size: 25px;
	width: 100%;
	height: 100%;
    }
    
    #solutionreporter{
	width: 400px;
	background-color: #d7dfe2;
	left:30%;
	top: 120px;
	position: absolute;
	margin: 5px;
	display: none;	
	height: auto;
	-webkit-box-shadow: 0px 0px 5px #003f3f;
	-moz-box-shadow: 0px 0px 5px #003f3f;	
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius:10px;
	-moz-box-shadow: 0 1px 5px #333;
	-webkit-box-shadow: 0 1px 5px #333;
	z-index: 501;
    }

	a.solutionclose{
	    float:right;
	    width:25px;
	    height:25px;
	    background:transparent url(images/cancel.png) repeat top left;
	    margin-top: 5px;
	    margin-right: 5px;
	    cursor: pointer;
	}
    
	#reportheading{
	    text-align: center;
	    color: #003f3f;
	    font-weight: bold;
	    font-size: 18px;
	    margin-top: 25px;
	    text-transform: uppercase;
	    font-family: "Trebuchet MS" Arial serif;
	}
	
	#solclick{
	    text-decoration: underline;
	    cursor: pointer;
	}
    
.tableclass{
    width: 100%;
}

    .columnsizer{
	border-style: 10px inset #2ba6cb;
	width: 100%;
	height: 100%;
	padding:3px;
	font-size: 14px;
	font-family: "Trebuchet MS" Arial serif;
    }
    
    .deptcontact{
	color: #2ba6cb;
	font-weight: lighter;
	font-size: 16px;
	padding-top: 20px;
	font-family: "Trebuchet MS" Arial serif;
    }

#tabs{
    margin: 0px;
    padding: 0px;
    margin-top: 6px;
}

.spacer{
    display: block;
    margin: 1em;
}

.floater{
    display: inline-block;
}

#nameinput, #typeinput, #lxninput, #commentinput{
    width: 250px;
    height: 25px;
    font-family: inherit;
}

#nameinput, #commentinput{
    height: 50px;
}

#grievancename, #grievancetype, #lxn, #grievancecomment, #grievancesubmit{
    color: #003f3f;
}

#grievancename{
    margin-right: 3.8em;
}

#grievancetype{
    margin-right: 1.5em;
}

#lxn{
    margin-right: 2.3em;    
}

#grievancecomment{
    margin-right: 1.5em;    
}

#submitbutton{
    width: 70px;
    border-radius: 5px;
    border-color: #d7dfe2;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    font-weight: 400;
    color: #003333;
    margin-left: 40%;
}

#submitbutton:hover{
    cursor: pointer;
}

span{
    text-align: center;
    color: #003f3f;
    font-weight: bold;
    margin-top: 5px;
    padding-bottom: 2px;
    margin-bottom: 5px;
}

#buzzcolumn{
    width: 98.5%;
    height: 88%;
    background-color: #ffffff;
    float: left;
    display: none;
    margin: auto;
    position: relative;
}

    #buzzholder{
	width: 100%;
	height: 99%;
	margin: 10px;
	overflow-x: hidden;
	overflow-y: scroll;
    }

    #buzzheading{
	text-align: center;
	margin: 10px;
	margin-bottom: 15px;
        color: #2ba6cb;
	font-weight: bold;
	font-size: 17px;
	text-transform: uppercase;
	font-family: "Trebuchet MS" Arial serif;
    }
    
#trendscolumn{
    width: 98.5%;
    height: 99%;
    background-color: #ffffff;
    float: left;
    display: none;
    margin: auto;
    position: relative;
}

    #fulltrendsholder{
	width: 100%;
	height: 90%;
	margin: 10px;
	overflow-x: hidden;
	overflow-y: scroll;
    }
    
    #fulltrendstable{
	width: 100%;
	height: 100%;
	/*margin-top: -10px; use this to change top padding id table is appearing with space at top*/
    }
    
	#fulltrendsheading,#solutionsheading{
	    text-align: center;
	    margin: 10px;
	    color: #2ba6cb;
	    font-weight: bold;
	    font-size: 17px;
	    font-family: "Trebuchet MS" Arial serif;
	}

	#fulltrendsrow{
	    width: 100%;
	    height: auto;
	}
	    
	    .trendsinliner{
		float: left;
		padding-right: 10px;
		display: inline;
	    }
	    	
	    #fulltrendsimage{
		width: 80px;
		height: 80px;
		margin: 10px;
		border-radius: 10px;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
	    }
	    
	    #fulltrendstextblock{
		width: 620px;
		height: auto;
		margin-left: 10px;
		margin-right: 10px;
		margin-bottom: 10px;
	    }
		#fulltrendstextblock a{
		    text-decoration: none;
		}
		
		.fulltrendstitle{
		    color: #2ba6cb;
		    display: block;
		    text-align: left;
		    font-size: 16px;
		    font-weight: bold;
		    text-decoration: none;
		    text-transform: capitalize;
		    font-family: "Trebuchet MS" Arial serif;
		}
		    .fulltrendssnippet{
			color: #3f3f3f;
			font-weight: normal;
			font-size: 14px;
			text-transform: inherit;
			text-align: justify;
			text-transform: capitalize;
			font-family: "Trebuchet MS" Arial serif;
		    }
	    
	




footer{
    bottom:-5%;
    background-color: #2d2d2d;
    opacity: 1.0;
    overflow: hidden;
    height: 40px;
    font-weight: bold;
    font-family:"Trebuchet MS" Arial serif;
    float: left;
    width: 1200px;
    position: absolute;
    z-index: 901;
}

footer #leftsubfooter{
    float: left;
    margin-left: 20px;
}
footer #rightsubfooter{
    float: right;
    margin-right: 80px;
}
#contactlist{
    list-style: none;  
    font-size: 14px;
    margin-left: 20px;
}

#followlist{
    list-style: none;  
    font-size: 14px;
    margin-reft: 20px;
    margin-right: 20px;
}

#contactlist li , #followlist li{
    display: inline-block;
    padding-right: 10px;
    padding-top: 10px;
    vertical-align: middle;
}
    
#contactlist li a , #followlist li a{
    text-decoration: none;
    color: #ffffff;
}

#followlist li a span{
    color: #ffffff;
}